<div id="login-form-wrap">
    <h2>My Bank</h2>
    <h6>{{aim}}</h6>
    <div id="login-form">
      <p>
      <input  [(ngModel)]="acno" type="number" id="accno" [placeholder]="account" required>
      </p>
      <p>
      <input  [(ngModel)]="pswd" type="password" id="Pswd" name="Password" placeholder="Enter Your Password Here" required>
      </p>
      <p>
      <input type="submit" id="login" value="Login" (click)="login()">
      </p>
  </div>
    <div id="create-account-wrap">
      <p>Forgot Password? or <a routerLink="register">Sign Up</a><p>
    </div>
  </div>
  
