<div id="login-form-wrap">
    <h2>Register page</h2>
    <form [formGroup]="registerForm">
        <div id="login-form">
            <p>
                <input formControlName="uname" type="text" id="uname" placeholder="Enter Your Name" required>
            </p>

            <p>
                <input formControlName="acno" type="number" id="accno" placeholder=" Enter Your Account Number" required>
            </p>

            <p>
                <input formControlName="pswd" type="password" id="Password" name="Password"
                    placeholder=" Enter Your Password" required>
            </p>
            <p>
                <input type="submit" id="register " (click)="register()" value="register">
            </p>
        </div>
    </form>
    <div id="create-account-wrap">
        <p> <a routerLink="register">Sign in</a>
        <p>
    </div>


</div>