<div id="login-form-wrap">
    <h2>Register page</h2>
    <div id="login-form">
        <p>
            <input type="text" id="uname" placeholder="Enter Name" required>
        </p>

        <p>
            <input type="number" id="accno" placeholder="AccountNumber" required>
        </p>

        <p>
            <input type="password" id="Password" name="Password" placeholder="Password" required>
        </p>
        <p>
            <input type="submit" id="register " onclick="reg()" value="register">
        </p>
    </div>
    <div id="create-account-wrap">
        <p> <a href="#">Sign in</a>
        <p>
    </div>


</div>
